Django>=4
django-admin-autocomplete-filter
django-cors-headers
django-extensions
django-filter
djangorestframework
djangorestframework-csv
djangorestframework-jwt
dj-database-url
graphviz
gunicorn
psycopg2-binary
python-decouple
yapf
